.portfolio__container {
  padding-top: 40px;
  padding-bottom: 60px;
  @include tab {
    padding-top: 30px;
  }
  @include desk {
    padding-top: 50px;
    padding-bottom: var(--section-padding);
  }
}
.portfolio-list {
  margin-bottom: -30px;
  @include tab {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}
.portfolio-list__item {
  margin-bottom: 30px;
  background-color: var(--primary-white-color);
  transition: box-shadow var(--transition-duration) var(--transition-timing-function);
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  box-sizing: border-box;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  .portfolio-list__text:hover & {
    border: none;
  }
  @include tab {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
  @include desk {
    width: calc(100% / 3 - 30px);
  }
}
.portfolio-list__wrap {
  position: relative;
  overflow: hidden;
}
.portfolio-list__text {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--primary-white-color);
  @include font(18px, 400, 1.55);
  padding: 77px 24px;
  height: 100%;
  transform: translateY(100%);
  transition: transform var(--transition-duration) var(--transition-timing-function);
  .portfolio-list__item:hover & {
    transform: translateY(0);
  }
  @include tab {
    padding: 49px 24px;
  }
  @include desk {
    padding: 63px 24px;
  }
}
.img-name {
  padding: 20px 24px;
}
.portfolio__title {
  @include font($fs: 18px, $lh: 2, $ls: 0.06em);
  color: var(--title-text-color);
  margin-bottom: 4px;
}
.portfolio__after-title {
  @include font(16px, 400, 1.875);
  color: var(--primary-text-color);
}
