.header__logo-1 {
  color: var(--accent-color);
}
.header__logo {
  @include font-logo;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  margin-right: 276px;
  @include tab {
    margin-right: 93px;
  }
}
.header__logo-2 {
  color: var(--title-text-color);
}
.footer__logo {
  @extend .header__logo;
  display: inline-block;
  margin-bottom: 20px;
}
.footer__logo-2 {
  color: var(--primary-white-color);
}
